@import url('https://fonts.googleapis.com/css?family=El+Messiri&display=swap');

/* * {
  border: 1px solid red;
} */

/*____________________________ HTML/Body Styles ____________________________*/
html {
  font-family: 'El Messiri', sans-serif;
  background-color: rgb(200, 200, 200);
}

body {
  background-color: white;
  height: 100vh;
  margin: 0 auto;
}

/*______________________________ Header Styles ______________________________*/
header h1 {
  margin: 5px 0 0 0;
  padding: 15px 0 0 0;
  border-right: 1px solid rgb(200, 200, 200);
}

header {
  box-shadow: 0px 3px 5px grey;
  margin-bottom: 6px;
}


/*__________________________ Navigation Bar Styles __________________________*/
.horizontal {
  padding: 0 20%;
  margin: 0;
}

.horizontal ul {
  -webkit-display: flex;
  display: flex;
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

.horizontal li {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
}

.horizontal li a {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
}

.horizontal a:link, .horizontal a:visited {
  color: black;
  text-decoration: none;
}

.horizontal a:hover, .horizontal a:active {
  color: white;
  background-color: red;
}


/*________________________________ Slideshow ________________________________*/
.slideshow {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  -webkit-display: flex;
  display: flex;
}

.slideshow-img {
  position: relative;
  flex: 1 1 auto;
}

.slideshow-img img {
  width: 100%;
}

.headline {
  position: absolute;
  top: 50px;
}

.headline h1 {
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  padding: 3px 5px 3px 100px;
  margin: 0;
}

.sub-headline {
  position: absolute;
  top: 125px;
  left: 0;
  padding-top: 0px;
  padding-left: 25px;
  background-color: rgba(255, 255, 255, 0.8);
}

.sub-headline h2 {
  margin-top: 0;
  padding: 5px;
  margin-bottom: 0;
}

.slideshow-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slideshow-button button {
  font-family: 'El Messiri', sans-serif;
  /* font-weight: bold; */
  font-size: 1.4em;
  color: white;
  padding: 15px 5px;
  background-color: rgba(50, 100, 150, 0.8);
  border-radius: 10px;
  border-style: none;
}

.slideshow-button button:hover {
  background-color: rgba(75, 125, 175, 0.8);
  color: #55FFFF;
}


/*______________________________ Aside Styles ______________________________*/
.slideshow aside {
  flex: 1 1 auto;
}


/*_______________________________ Form Styles _______________________________*/
 .login {
  padding: 10px;
}

.login input {
  margin-bottom: 5px;
  width: 100%;
}


/*__________________________________ Grid __________________________________*/
.grid-container {
  display: grid;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
}

.grid-container div {
  text-align: center;
}
